[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
djangorestframework = "==3.13.1"
django-mptt = "==0.13.4"
simplejson = "==3.17.6"
python-decouple = "==3.6"
psycopg2-binary = "==2.9.3"

[dev-packages]
autopep8 = "==1.6.0"

[requires]
python_version = "3.10"
